/*! hard work beats talent when talent doesn't work hard*/
/** Variables */
:root {
  --white: #ffffff;
  --rose: #fc6681;
	--blue-violet: #c2beff;
	--blue-gray: #a4a2af;
	--blue-purple-light: #8078fb;
	--blueish-btn: #7e76f9;
	--purplish: #784eeb;
	--blue-purple-dark: #6159e5;
	--black: #000000;
}

/** Fonts */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

/** Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/** Body & Container */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/header-bg-shape.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50vw;
}

/** Sitewide Shared Values*/
h2 {
	color: var(--purplish);
	font-family: 'Lato', sans-serif;
	font-size: .7em;
	font-weight: 100;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.35;
}

h4 {
  font-size: .6em;
}

.p-small {
	font-size: .5em;
}

.p-gray {
	color: var(--blue-gray);
	font-weight: 200;
}

.p-bigger-than-h2 {
	font-size: 1em;
}

button {
  width: 16em;
  height: 3.5em;
  color: var(--white);
  font-size: .5em;
  background-color: var(--blueish-btn);
  border: .2em .4em solid var(--blue-gray);
  border-radius: 4em;
  margin: 2em 0;
}

/** Header */
header {
  display: flex;
  width: 80vw;
  margin: 2em 0;
}

.logo {
  background-image: url(../img/analysis.svg);
  background-repeat: no-repeat;
	background-size: contain;
  /* width: 1em;
  height: auto; */
  padding: 2em;
}

.logo-header {
  margin: 0 auto 0 0;
}

.ul-links-nav {
  display: flex;
  justify-content: space-between;
}

.ul-links-nav li {
  margin: 1em;
}

li {
  list-style: none;
  font-size: 0.6em;
  color: var(--white);
}

/** Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

/** Squares grid at top */
.grid-top {
	display: grid;
	grid-template-rows: 25em 25em;
  grid-template-columns: 25em 25em;
  gap: 1em;
}

.square-2 {
  justify-self: flex-end;
}

.square-4 {
  background-image: url(/img/biography-background.svg);
  background-repeat: no-repeat;
	background-size: contain;
}

.div-social-media {
	display: flex;
}

.icon-s-media {
  width: auto;
  height: 0.5em;
  margin: 0.5em;
}

/*! This must be a phantom element */
.bigrectangle {
	background-color: red;
}

.img-girl-think,
.img-people-phone {
  width: 20em;
  height: auto;
}

/** Cards grid in middle top  */
.grid-cards {
  display: grid;
  grid-template-rows: 15em 15em;
  grid-template-columns: 12em 12em 12em;
  gap: 3em;
  background-image: url(/img/cards-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  background-color: var(--white);
  border-radius: 5%;
  box-shadow: .1em .1em .1em var(--blue-gray);
}

.card * {
  margin: .5em 0;
}

.card img {
  align-self: center;
  width: 3em;
}

.btn-card {
  width: 8em;
  height: 2.5em;
  margin: auto 1em 0 auto;
}

/** Newsletter signup */
.div-newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-newsletter {
	font-weight: 200;
}

.form-email {
	display: flex;
	justify-content: center;
}

/** Footer */
footer {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  margin-top: 5em;
  /* width: 100vw; */
  /* height: 15em; */
  /* background-image: url(../img/footer-bg-shape-1.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: top; */
}

.ft-column {
  margin: 1em;
}

.div-ft-logo-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.p-links,
.p-hours,
.p-contact {
	font-size: 0.75em;
	color: var(--white);
  margin-bottom: 0.75em;
}

/* SVGs background bottom */
.footer-shape-1,
.footer-shape-2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 150%;
  z-index: -1;
}

.footer-shape-2 {
  left: 25%;
  top: 155%;
}