/* Variables */
:root {
  --white: #ffffff;
}

/* Fonts */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* General */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/header-bg-shape.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

header {
  display: flex;
  width: 80vw;
  margin: 2em 0;
}

.logo {
  background-image: url(../img/computer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;
  height: 1em;
  padding: 1em;
}

.logo-header {
  margin: 0 auto 0 0;
}

.ul-links-nav {
  display: flex;
  justify-content: space-between;
}

.ul-links-nav li {
  margin: 1em;
}

li {
  list-style: none;
  font-size: 0.6em;
  color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.bigrectangle {
	width: 500px;
	height: 500px;
	background-color: red;
}

.img-girl-think,
.img-people-phone {
  width: 20em;
  height: auto;
}

.biography {
  width: 300px;
}

footer {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  margin-top: 5em;
  /* width: 100vw; */
  /* height: 15em; */
  /* background-image: url(../img/footer-bg-shape-1.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: top; */
}

.ft-column {
  margin: 1em;
}

.div-ft-logo-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.icon-s-media {
  width: auto;
  height: 0.5em;
  margin: 0.5em;
}

.p-links,
.p-hours,
.p-contact {
  font-size: 0.75em;
  margin-bottom: 0.75em;
}

.footer-shape-1,
.footer-shape-2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 15%;
  right: 15%;
  z-index: -1;
}
